.divcard {
    position: relative;
    width:300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}
.divcard img {
    height: 150px;
    min-height: 150px;
    max-width: 270px;
    object-fit: contain;
    margin: 10px auto;
}

.description {
    width: 90%;
    height: 30%;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: margin-top 0.5s ease-out;
}
.description:hover {
    margin-top: -40px;
}
.title {
    width: 90%;
    white-space: nowrap;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
}
.price {
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.divcard button {
    width: 80%;
    height: 38px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    margin: 5px;
    border-radius: 8px;
    border: none;
}
.rating {
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid lightgrey;
    text-align: center;
    width: 90%;
    margin: 5px;
    padding: 5px;
}
.rating::before {
    display: block;
    content: "";
    background-image: url('../icons-stars-thumbnail.png');
    background-color: white;
    width: 100px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
}
.rating_good::before {
    background-position: 0px 80px;
}
.rating_middle::before {
    background-position: 0px 60px;
}
.rating_bad::before {
    background-position: 0px 40px;
}
.rating_verybad::before {
    background-position: 0px 20px;
}