main {
    width: 100%;
    height: 100vh;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}